<section class="text-center">
<br><br>
    <div class="container-fluid">
      <h2 class = "h2">
  ABOUT US</h2>
  <p><small class="text-muted">what we do</small></p>
      <p class="lead text-muted">Something nice to tell people what you do.</p>
      <p>
        <a href="#" class="btn btn-primary my-2">Call Now</a>
        <a href="#" class="btn btn-secondary my-2">WhatsApp now</a>
      </p>
    </div>
  </section>
<div class="container marketing">


    <!-- Three columns of text below the carousel -->
    <div class="row">
	{{#if products}}
		{{#each products}}
			 <div class="col-lg-4">
				<a href = "/{{category}}/{{product_name}}"<svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg></a>
				<h2>{{product_name}}</h2>
				<p>{{description}}.</p>
				<p>{{price}}</p>
			  </div>
		{{/each}}
	{{/if}}
</div>
<br>
<br>
	{{#if paginator}}
  {{paginate pagination limit="7"}}
      
{{/if }}
      
  
  
  
<div>

